<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>L</string>
		<string>M</string>
		<string>uniF026</string>
		<string>uniF027</string>
		<string>uniF028</string>
		<string>A.alt4</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B.alt2</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>uniF02C</string>
		<string>C.alt2</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>uniF02E</string>
		<string>D.alt2</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>uniF02A</string>
		<string>uniF02F</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>uniF031</string>
		<string>uniF043</string>
		<string>Hbar</string>
		<string>H.alt2</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>I</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>uniF032</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>uniF036</string>
		<string>uniF037</string>
	</array>
	<key>public.kern1.N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>uniF03F</string>
		<string>N.alt2</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>uniF03B</string>
		<string>uniF03E</string>
		<string>Omacron</string>
		<string>Q.alt2</string>
		<string>O.alt3</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>uniF03C</string>
		<string>P.alt2</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>Racute</string>
		<string>R.alt2</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>uniF039</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>uniF042</string>
		<string>T.alt2</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Udieresis</string>
		<string>uniF002</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>uniF044</string>
		<string>V.alt2</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>uniF045</string>
		<string>W.alt2</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
		<string>uniF007</string>
		<string>uniF046</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>uniF047</string>
		<string>Y.alt2</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>uniF048</string>
		<string>Z.alt2</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>uniF009</string>
		<string>uniF025</string>
		<string>aringacute</string>
		<string>a.alt3</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>uniF01E</string>
		<string>b.alt2</string>
		<string>h.alt2</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>uniF023</string>
		<string>c.alt2</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d.alt2</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>e</string>
		<string>uniF021</string>
		<string>e.alt2</string>
		<string>e.alt3</string>
		<string>e.alt4</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
		<string>uniF020</string>
		<string>f.alt2</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g.alt2</string>
		<string>g.alt3</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>exclamdown</string>
		<string>uniE977</string>
		<string>uniF01D</string>
		<string>i.alt2</string>
		<string>i.alt3</string>
		<string>t_i</string>
		<string>uniE132</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>j</string>
		<string>uniF01C</string>
		<string>j.alt2</string>
		<string>j.alt1.001</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>uniF01B</string>
		<string>kgreenlandic</string>
		<string>k.alt2</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
		<string>uniF01A</string>
		<string>l.alt2</string>
	</array>
	<key>public.kern1.m</key>
	<array>
		<string>m</string>
		<string>uniF019</string>
		<string>m.alt2</string>
		<string>m.alt3</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>n</string>
		<string>uniF018</string>
		<string>n.alt2</string>
		<string>n.alt3</string>
		<string>n.alt4</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>c</string>
		<string>o</string>
		<string>uniF017</string>
		<string>uni01EB</string>
		<string>o.alt2</string>
		<string>o.alt3</string>
		<string>o.alt4</string>
		<string>o.alt5</string>
	</array>
	<key>public.kern1.p</key>
	<array>
		<string>p</string>
		<string>uniF016</string>
		<string>p.alt2</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
		<string>uniF015</string>
		<string>q.alt2</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>uniF014</string>
		<string>r.alt2</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>uniF012</string>
		<string>uniF013</string>
		<string>S.alt5</string>
		<string>s.alt3</string>
		<string>s.alt4</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>i</string>
		<string>t</string>
		<string>uniF011</string>
		<string>tbar</string>
		<string>t.alt2</string>
		<string>t_t</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uniF010</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>u.alt2</string>
		<string>u.alt3</string>
		<string>t_u</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>uniF00F</string>
		<string>v.alt2</string>
		<string>oe.001</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>uniF00E</string>
		<string>w.alt2</string>
		<string>w.alt4</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
		<string>uniF00D</string>
		<string>x.alt2</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>y.alt2</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>uniF00B</string>
		<string>z.alt2</string>
	</array>
	<key>public.kern2.0</key>
	<array>
		<string>Omacron</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>uniF026</string>
		<string>uniF027</string>
		<string>uniF028</string>
		<string>A.alt4</string>
	</array>
	<key>public.kern2.B</key>
	<array>
		<string>B.alt2</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>uniF02C</string>
		<string>C.alt2</string>
	</array>
	<key>public.kern2.D</key>
	<array>
		<string>uniF02E</string>
		<string>D.alt2</string>
	</array>
	<key>public.kern2.E</key>
	<array>
		<string>E</string>
		<string>uniF02A</string>
		<string>uniF02F</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>H</string>
		<string>uniF031</string>
		<string>Hbar</string>
		<string>H.alt2</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>I</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>uniF032</string>
	</array>
	<key>public.kern2.L</key>
	<array>
		<string>L</string>
		<string>uniF036</string>
		<string>uniF037</string>
	</array>
	<key>public.kern2.N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>uniF03F</string>
		<string>N.alt2</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>uniF03B</string>
		<string>uniF03E</string>
		<string>Q.alt2</string>
		<string>O.alt3</string>
	</array>
	<key>public.kern2.P</key>
	<array>
		<string>P</string>
		<string>uniF03C</string>
		<string>P.alt2</string>
	</array>
	<key>public.kern2.R</key>
	<array>
		<string>Racute</string>
		<string>R.alt2</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>uniF039</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>uniF042</string>
		<string>T.alt2</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Udieresis</string>
		<string>uniF002</string>
		<string>uniF043</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>V.alt2</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>uniF045</string>
		<string>W.alt2</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>uniF007</string>
		<string>uniF046</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>uniF047</string>
		<string>Y.alt2</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>uniF048</string>
		<string>Z.alt2</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>uniF009</string>
		<string>uniF025</string>
		<string>aringacute</string>
		<string>a.alt3</string>
	</array>
	<key>public.kern2.b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>uniF01E</string>
		<string>uniF024</string>
		<string>b.alt2</string>
		<string>h.alt2</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c.alt2</string>
		<string>c_t</string>
	</array>
	<key>public.kern2.d</key>
	<array>
		<string>d</string>
		<string>uniF022</string>
		<string>d.alt2</string>
	</array>
	<key>public.kern2.e</key>
	<array>
		<string>uniF021</string>
		<string>e.alt2</string>
		<string>e.alt3</string>
		<string>e.alt4</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>uniF020</string>
		<string>f.alt2</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g.alt3</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>exclamdown</string>
		<string>uniE977</string>
		<string>uniF01D</string>
		<string>i.alt2</string>
		<string>i.alt3</string>
		<string>uniE132</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>uniF01C</string>
		<string>j.alt2</string>
		<string>j.alt1.001</string>
	</array>
	<key>public.kern2.k</key>
	<array>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>k.alt2</string>
	</array>
	<key>public.kern2.l</key>
	<array>
		<string>l</string>
		<string>uniF01A</string>
		<string>l.alt2</string>
	</array>
	<key>public.kern2.m</key>
	<array>
		<string>m</string>
		<string>uniF019</string>
		<string>m.alt2</string>
		<string>m.alt3</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>n</string>
		<string>uniF018</string>
		<string>n.alt2</string>
		<string>n.alt3</string>
		<string>n.alt4</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>oslash</string>
		<string>uniF017</string>
		<string>uni01EB</string>
		<string>g.alt2</string>
		<string>o.alt2</string>
		<string>o.alt3</string>
		<string>o.alt4</string>
		<string>o.alt5</string>
		<string>oe.001</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
		<string>uniF016</string>
		<string>p.alt2</string>
	</array>
	<key>public.kern2.r</key>
	<array>
		<string>r</string>
		<string>uniF014</string>
		<string>r.alt2</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>uniF012</string>
		<string>uniF013</string>
		<string>S.alt5</string>
		<string>s.alt3</string>
		<string>s.alt4</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>t.alt2</string>
		<string>t_i</string>
		<string>t_t</string>
		<string>t_u</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uniF010</string>
		<string>uni01DA</string>
		<string>u.alt2</string>
		<string>u.alt3</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>uniF00F</string>
		<string>v.alt2</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>uniF00E</string>
		<string>w.alt2</string>
		<string>w.alt4</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
		<string>uniF00D</string>
		<string>x.alt2</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>y.alt2</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>uniF00B</string>
		<string>z.alt2</string>
	</array>
</dict>
</plist>
